<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crime Map{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=22f31f05-07ca-4eb3-b1b0-9217dcb759f8&lang=ru_RU " type="text/javascript"></script>
    <script src="/static/main.js" type="text/javascript"></script>
</head>
<body>
    <!-- Шапка навигации -->
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/add-crime">Добавить преступление</a></li>
                <li><a href="/all-crimes">Все преступления</a></li>
                <li><a href="/patrol-forecast">Прогноз патрулей</a></li>
                <li><a href="/statistics">Статистика</a></li>
            </ul>
        </nav>
    </header>

    <!-- Основной контент -->
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>