{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1>Добро пожаловать в систему учета преступлений</h1>
<div class="welcome-content">
    <p>Выберите нужный раздел в меню навигации:</p>
    <ul>
        <li><a href="/all-crimes">Все преступления</a> - просмотр списка всех преступлений с возможностью фильтрации</li>
        <li><a href="/add-crime">Добавить преступление</a> - добавление нового преступления в базу данных</li>
        <li><a href="/patrol-forecast">Прогноз патрулей</a> - планирование патрулирования</li>
        <li><a href="/statistics">Статистика</a> - анализ данных о преступлениях</li>
    </ul>
</div>
{% endblock %}