{% extends "base.html" %}

{% block title %}Расстановка сил и средств{% endblock %}

{% block content %}
<h1>Расстановка сил и средств ООП</h1>
<div class="oop-tabs">
    <button class="oop-tab active" id="tab-forecast">Массовые мероприятия</button>
    <button class="oop-tab" id="tab-deployment">Расстановка сил</button>
</div>
<div id="oop-tab-content">
    <div id="deployment-map" style="width: 100%; height: 400px;"></div>
    <!-- Контент вкладки будет подгружаться динамически -->
</div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oop_deployment.css') }}">
    <script src="{{ url_for('static', filename='js/oop_deployment.js') }}"></script>
{% endblock %}
